@import url(./node_modules/bootstrap/dist/css/bootstrap.min.css);

*{
    box-sizing: border-box;
    /* border: 2px solid saddlebrown; */
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.img-cover{
    height: 400px;
}