@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

.img-navbar{
    width: 60px;
    height: 60px;
}

.detail-title{
    font-size:clamp(2rem, 5vw, 4rem);
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 2px;

}

.book-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-img{
    
    width: 400px;
}